:root {
    --cor-vermelho: rgb(145, 0, 0);
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* ===== INDEX ===== */

<<<<<<< HEAD
#body-index {
    background-image: url(../assets/image/wallpaper5.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100vh;
    width: 100%;

=======
#body-index{
   background-image: url(../assets/image/wallpaper\ \(2\).jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
>>>>>>> 84cb38a61b703b76066c51dfc3559ccf40404821
}

.erro {
    color: red;
    font-size: 14px;
    text-align: center;
}

.sucesso {
    color: green;
    font-size: 14px;
    text-align: center;
}

#imagem-login {
    border-radius: 10px;
    border: solid rgb(235, 229, 229);

}

/* ===== MAIN ===== */

#navbar {
    background-color: var(--cor-vermelho);
    color: white;
}

#navbar .navbar-brand,
#navbar .nav-link {
    color: white !important;
}

.navbar-icon {
    height: 30px;
    width: 30px;
}

.titulo-icon {
    height: 125px;
    width: 125x;
    object-fit: contain;
}

.img-main {
    transform: rotate(-90deg);
    border: 10px var(--cor-vermelho) solid;
    border-radius: 50px;
    height: 500px;
    width: 500px;
    padding: 10px;
}